pkgbase = powerarm
	pkgdesc = Fast x86 and x86-64 emulation for 64-bit POWER
	pkgver = r14884.211e31a
	pkgrel = 1
	url = https://github.com/daedalao/fastppcx86
	install = powerarm.install
	arch = powerpc64le
	license = MIT
	makedepends = clang
	makedepends = cmake
	makedepends = gdb
	makedepends = git
	makedepends = lld
	makedepends = llvm
	makedepends = ninja
	makedepends = python
	makedepends = range-v3
	makedepends = alsa-lib
	makedepends = libdrm
	makedepends = libglvnd
	makedepends = libx11
	makedepends = libxcb
	makedepends = libxshmfence
	makedepends = wayland
	depends = gcc-libs
	depends = glibc
	depends = fmt
	depends = xxhash
	depends = qt6-base
	depends = qt6-declarative
	depends = libglvnd
	depends = vulkan-icd-loader
	depends = libdrm
	depends = libxshmfence
	depends = wayland
	depends = libx11
	depends = libxcb
	optdepends = squashfuse: mount squashfs x86-64 RootFS images
	optdepends = erofs-utils: mount EROFS x86-64 RootFS images
	optdepends = wget: used by FEXRootFSFetcher to download a RootFS
	optdepends = xz: RootFS extraction
	optdepends = vulkan-driver: an ICD for the Vulkan thunk to pass through to
	optdepends = pipewire-pulse: PulseAudio server for guest audio (guests speak the PA protocol; pulseaudio works too)
	optdepends = alsa-lib: only needed if you enable the asound thunk, which ships disabled
	options = !lto
	source = powerarm::git+https://github.com/daedalao/fastppcx86.git#branch=main
	source = drm-headers::git+https://github.com/FEX-Emu/drm-headers.git
	source = fmt::git+https://github.com/fmtlib/fmt.git
	source = xxhash::git+https://github.com/Cyan4973/xxHash.git
	source = range-v3::git+https://github.com/ericniebler/range-v3.git
	source = unordered_dense::git+https://github.com/martinus/unordered_dense.git
	source = jemalloc_glibc::git+https://github.com/FEX-Emu/jemalloc.git
	source = rpmalloc::git+https://github.com/FEX-Emu/rpmalloc.git
	source = cpp-optparse::git+https://github.com/Sonicadvance1/cpp-optparse.git
	source = vulkan-headers::git+https://github.com/KhronosGroup/Vulkan-Headers.git
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = powerarm
